<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Clima</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">

    {% load static %} <!--Así se cargan los archivos estáticos en Django (css, por ejemplo)-->
    <link rel="stylesheet" href="{% static 'clima/home.css' %}">

    {% if weather %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const condition = "{{ weather.weather.0.main }}";
            const backgrounds = {
                'Clear': 'url(https://images.unsplash.com/photo-1501973801540-537f08ccae7d)',
                'Rain': 'url({% static "clima/Lluvia.png" %})', /*En javascript siempre es con url, no href*/
                'Clouds': 'url(https://images.unsplash.com/photo-1499346030926-9a72daac6c63)',
                'Snow': 'url(https://images.unsplash.com/photo-1608889175114-e2603d1b4f7c)',
                'Thunderstorm': 'url(https://images.unsplash.com/photo-1500674425229-f692875b0ab7)',
                'Drizzle': 'url(https://images.unsplash.com/photo-1561484934-9a6c3cf9d1b3)',
                'Mist': 'url(https://images.unsplash.com/photo-1502082553048-f009c37129b9)'
            };

            const contenedorImg = document.getElementById("backgrounds");
            if (contenedorImg && backgrounds[condition]){
                contenedorImg.style.backgroundImage = backgrounds[condition];
            }
        });
    </script>
    {% endif %}
</head>

<body>
    <div id="backgrounds"></div>

    <div class="contenedor-menu">
        <ul class="menu">
            <li><a class="logo1" href="{% url 'home' %}"><img src="{% static 'clima/Logo_SkyCheck.png' %}" alt="logo1"></a></li>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="#">Localizador</a></li>
            <li><a href="#">Comparador</a></li>
            <li><a class="boton-sesion" href="#">Iniciar Sesión</a></li>
        </ul>
    </div>

    <h1 class="titulo1">Consulta el clima de tu ciudad</h1>

    <div class="contenedor-form">
        <form method="GET">
            <input type="text" name="city" placeholder="Introduce una ciudad" required>
            <button type="submit">Buscar</button>
        </form>
    
        {% if weather %}
        <!--weather: es el diccionario con los datos que recibimos desde la API. Este bloque solo se muestra si hay datos (if)-->
        <h2>Clima en {{ weather.name }}</h2>
        <p>Temperatura: {{ weather.main.temp }} °C</p>
        <p>Condición: {{ weather.weather.0.description }}</p>
        {% endif %}
    </div>
</body>

</html>
