# Carpetas de Python
__pycache__/
*.py[cod]
*.pyo

# Entorno virtual
venv/

# Base de datos local
db.sqlite3

# Archivos de entorno y logs
.env
*.log

# Archivos de Django estáticos y media
/static/
staticfiles/
media/

# VSCode
.vscode/

# Archivos de migraciones cacheadas
**/migrations/__pycache__/

# Archivos de sistema
.DS_Store
Thumbs.db
